html, body {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    width: 100%;
}

/*NAVBAR*/

nav {
    height: 80px;
    background-color: #364a2a;
}

nav ul {
    list-style: none;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

nav ul li {
    display: inline-block;
    padding: 5px;
}

nav img {
    height: 30px;
    width: 30px;
}


/*INTRODUCTION*/

#introduction {
    background-color: black;
    color: #DEE5E5;
    height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
/*    height: 90vh;*/
}

#artist-photo, #artist-announce {
    margin: auto;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

#artist-photo img {
    max-width: 100%;
    max-height: 90vh;
    width: auto;
}

#artist-announce {
    text-align: center;
    font-size: 35px;
    font-family: 'Rye', cursive;
    color: #9DB195;
}

#boldname {
    font-size: 50px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes -webkit-animation, -moz-animation, -o-animation, -ms-animation fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/*SECTION 2 - ALBUM COVER, SINGLES*/

#singles_and_cover {
    background-color: #303025;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #DEE5E5;
}

#singles {
    margin-left: 25px;
    width: 50%;
    font-family: 'Shippori Mincho', serif;
    font-size: 20px;
}

#albumcover img {
    height: 50%;
    width: 50%;
    padding: 20px 0;
}

/*NOTES*/

#liner_notes {
    background-image: url("westernblur.jpg");
    background-size: cover;
    color: #DEE5E5;
    font-size: 25px;
    text-align: center;
    padding: 50px 30px;
    font-size: 18px;
    font-family: 'Shippori Mincho', serif;
}

#paragraph {
    padding: 30px;
}

#quotes {
    font-size: 15px;
}

/*VIDEO*/

#video {
   background-color: #303025;
    padding: 50px;
    text-align: center;
}

#video p {
    padding-top: 25px;
    font-size: 25px;
    font-family: 'Rye', cursive;
    color: #9DB195;
}

@keyframes tourstatement {
    0% {color: #DEE5E5;}
    50% {color: #364a2a;}
    100% {color: #DEE5E5;}
}

/*FOOTER*/

footer {
    height: 175px;
    background-color: #364a2a;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-family: 'Shippori Mincho', serif;
}

footer img {
    padding: 10px;
}

#home-link a {
    color: black;
    text-decoration: none;
}

#home-link a:hover {
    color: #DEE5E5;
}

/*MEDIA QUERY*/

@media (max-width: 900px) {
    
    nav, .container, #singles_and_cover {
        display: flex;
        flex-direction: column;
    }
    
    nav {
        height: 100px;
        text-align: center;
    }
    
    nav ul li {
        padding: 15px; 
    }
    
    nav img {
        height: 40px;
        width: 40px;
    }
    
    .container {
        height: 70%;
    }
    
    #artist-photo img {
        max-height: 50vh;
    }
    
    #artist-announce {
        font-size: 25px;
        padding-bottom: 40px;
    }

    #singles_and_cover {
        height: 65%;
    }
    
    #singles {
        font-size: 15px;
        margin-left: 0;
        padding: 20px 0;
    }
    
    #albumcover img {
        height: 250px;
        width: 250px;
        padding-bottom: 20px;
    }
    
    iframe {
        width: 100%;
    }
